@import '_variables.scss';

.product {
  &_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 20px;
  }
  &_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid $borderColor;
    padding: 14px;
    align-items: center;
    max-width: 200px;
    border-radius: 8px;
  }
  &_image {
    width: 120px;
    height: 160px;
    padding-bottom: 12px;
    border-bottom: 1px solid $borderColor;
  }
  &_info {
    & > p:first-child {
    }
    & > p:last-child {
      font-size: 18px;
      font-weight: 700;
    }
  }
}